aiofiles==22.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.13.2
altair==4.2.0
annotated-types==0.7.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
attrs==24.2.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.3
bleach==6.1.0
boto3==1.35.4
botocore==1.35.4
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==2.0.12
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.2
commonmark==0.9.1
croniter==1.3.7
cryptography==36.0.2
dask==2024.8.1
datadog==0.44.0
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
Faker==4.14.0
fastjsonschema==2.20.0
freezegun==1.2.2
frozenlist==1.4.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.31
great-expectations==0.15.50
greenlet==3.0.3
h11==0.14.0
httpcore==0.16.3
httpx==0.23.1
idna==3.7
importlib_metadata==8.4.0
inflection==0.5.1
ipykernel==6.15.0
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
itsdangerous==1.1.0
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-client==7.3.4
jupyter-server==1.23.5
jupyter-server-proxy==3.2.1
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.13
ldap3==2.9.1
locket==1.0.0
mage-ai==0.8.77
makefun==1.15.4
Mako==1.3.5
markdownify==0.11.6
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib-inline==0.1.7
mistune==3.0.2
MouseInfo==0.1.3
multidict==6.0.5
nbclassic==1.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==6.5.7
notebook_shim==0.2.4
numpy==1.26.3
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==4.2.2
polars==1.5.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==5.27.3
psutil==6.0.0
ptyprocess==0.7.0
pyarrow==10.0.1
pyasn1==0.6.0
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyGetWindow==0.0.9
Pygments==2.18.0
PyJWT==2.6.0
PyMsgBox==1.0.9
pyparsing==3.1.2
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jobspy==1.1.65
python3-xlib==0.15
pytweening==1.2.0
pytz==2022.1
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
rfc3986==1.5.0
rich==12.6.0
rpds-py==0.20.0
ruamel.yaml==0.17.17
s3transfer==0.10.2
scikit-learn==1.5.1
scipy==1.14.1
selenium==4.23.1
Send2Trash==1.8.3
sentry-sdk==1.19.1
shellingham==1.5.4
simpervisor==1.0.0
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==1.4.53
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.5.0
tinycss2==1.3.0
tls-client==1.0.1
toolz==0.12.1
tornado==6.1
tqdm==4.66.5
traitlets==5.14.3
trio==0.26.2
trio-websocket==0.11.1
typer==0.7.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
urllib3==1.26.19
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
wsproto==1.2.0
yarl==1.9.4
zipp==3.20.0
